{% extends "base.html" %}
{% block content %}
<h2>Edit User</h2>
<form method="POST" class="row g-3">
  <div class="col-md-6">
    <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}" placeholder="First Namae" required>
  </div>
  <div class="col-md-6">
    <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}" placeholder="Last Namae"  required>
  </div>
  <div class="col-md-6">
    <input type="email" name="email" class="form-control" value="{{ user.email }}" placeholder="Email" required>
  </div>
  <div class="col-md-6">
    <input type="text" name="phone" class="form-control" value="{{ user.phone }}" placeholder="Phone">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-success">Update</button>
    <a href="/" class="btn btn-secondary">Cancel</a>
  </div>
</form>
{% endblock %}
